<body>
    <header>
        {{>nav}}
        <h1>Cat Shelter</h1>
    </header>
    <main>
        <form action="/cats/new-home/{{thisCat.id}}" method="POST" class="delete-form" enctype="multipart/form-data">
            <h2>Find A New Home</h2>
            <img src="/images/{{thisCat.image}}" alt="{{thisCat.name}}">
            <h3>{{thisCat.name}}</h3>
            <p><span>Breed: </span>{{thisCat.breed}}</p>
            <p><span>Description: </span>{{thisCat.description}}</p>
            <button class="delete" type="submit">New Home (Delete)</button>
        </form>
    </main>
</body>