<body>
    <header>
        {{>nav}}
        <h1>Cat Shelter</h1>
        {{>search}}
    </header>
    <main>
        <section class="cats">
            <h3 align="center">Your search returned {{resultsLength}} result{{#if plural}}s{{/if}}.</h3><br>
            {{#if results}}
            <ul>
                {{#each cats}}
                <li>
                    <img src="/images/{{this.image}}" alt="{{this.name}}">
                    <h3>{{this.name}}</h3>
                    <p><span>Breed: </span>{{this.breed}}</p>
                    <p><span>Description: </span>{{this.description}}</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="/cats/edit-cat/{{this.id}}">Change Info</a></li>
                        <li class="btn delete"><a href="/cats/new-home/{{this.id}}">New Home</a></li>
                    </ul>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p align="center">
                No cats were found which included "{{searchText}}" in their name, description, or breed. Try again?
            </p>
            {{/if}}
        </section>
    </main>
</body>